In [2]:
import pandas as pd

In [3]:
file = 'New_data_csv/Main_Data_CSV/Main_table.csv'

In [4]:
df = pd.read_csv(file, encoding="ISO-8859-1")
df.head()

,visitNumber,visitId,visitStartTime,date,fullVisitorId,channelGrouping,socialEngagementType,visits,hits,pageviews,...,browser,operatingSystem,isMobile,deviceCategory,continent,subContinent,country,region,city,networkDomain
0,1,1478008845,1478008845,20161101,9352881518669559847,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Android,True,mobile,Europe,Western Europe,Germany,Hamburg,Hamburg,(not set)
1,1,1478002133,1478002133,20161101,4906813510055416703,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Windows,False,desktop,Asia,Eastern Asia,Taiwan,Taipei City,(not set),hinet.net
2,1,1477995977,1477995977,20161101,4091646801425702074,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Windows,False,desktop,Europe,Southern Europe,Spain,not available in demo dataset,not available in demo dataset,comunitel.net
3,1,1478034201,1478034201,20161101,5401793363522001290,Direct,Not Socially Engaged,1,1,1.0,...,Opera Mini,Android,True,mobile,Africa,Western Africa,Niger,not available in demo dataset,not available in demo dataset,(not set)
4,1,1478055650,1478055650,20161101,4440833520759626888,Organic Search,Not Socially Engaged,1,1,1.0,...,Chrome,Linux,False,desktop,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,utah.edu

In [5]:
df.count()

visitNumber             113971
visitId                 113971
visitStartTime          113971
date                    113971
fullVisitorId           113971
channelGrouping         113971
socialEngagementType    113971
visits                  113971
hits                    113971
pageviews               113961
timeOnSite               56353
bounces                  57519
newVisits                94779
campaign                113971
source                  113971
medium                  113971
page                      1933
slot                      1933
adNetworkType             1933
isVideoAd                 1933
browser                 113971
operatingSystem         113971
isMobile                113971
deviceCategory          113971
continent               113971
subContinent            113971
country                 113971
region                  113971
city                    113971
networkDomain           113971
dtype: int64

In [77]:
browser_df = pd.DataFrame({"Total_Visitors_wholemonth": df["fullVisitorId"],
                    "Browser_Name": df["browser"]})
browser_df.head()

   Total_Visitors_wholemonth Browser_Name
0        9352881518669559847       Chrome
1        4906813510055416703       Chrome
2        4091646801425702074       Chrome
3        5401793363522001290   Opera Mini
4        4440833520759626888       Chrome

In [79]:

browser_grouped = browser_df.groupby("Browser_Name").count()
browser_grouped

                          Total_Visitors_wholemonth
Browser_Name
Amazon Silk                                      48
Android Browser                                  43
Apple-iPhone7C2                                   1
BlackBerry                                       25
Chrome                                        70033
Coc Coc                                          58
DASH_JR_3G                                        1
Edge                                            924
Firefox                                        3316
Internet Explorer                              1881
Iron                                              2
LYF_LS_4002_12                                    4
MQQBrowser                                        1
MRCHROME                                         24
Maxthon                                          27
Mozilla                                           2
Mozilla Compatible Agent                         32
Nichrome                                          2
Nintendo Browser                                 13
Nokia Browser                                     3
Opera                                           554
Opera Mini                                      501
Safari                                        35845
Safari (in-app)                                 276
ThumbSniper                                       1
UC Browser                                      160
YaBrowser                                       194

In [80]:
sorted_browser = browser_grouped.sort_values("Total_Visitors_wholemonth", ascending=False)
sorted_browser

                          Total_Visitors_wholemonth
Browser_Name
Chrome                                        70033
Safari                                        35845
Firefox                                        3316
Internet Explorer                              1881
Edge                                            924
Opera                                           554
Opera Mini                                      501
Safari (in-app)                                 276
YaBrowser                                       194
UC Browser                                      160
Coc Coc                                          58
Amazon Silk                                      48
Android Browser                                  43
Mozilla Compatible Agent                         32
Maxthon                                          27
BlackBerry                                       25
MRCHROME                                         24
Nintendo Browser                                 13
LYF_LS_4002_12                                    4
Nokia Browser                                     3
Mozilla                                           2
Nichrome                                          2
Iron                                              2
MQQBrowser                                        1
DASH_JR_3G                                        1
ThumbSniper                                       1
Apple-iPhone7C2                                   1

In [96]:
whole_month_df = sorted_browser[:5].reset_index()
a

        Browser_Name  Total_Visitors_wholemonth
0             Chrome                      70033
1             Safari                      35845
2            Firefox                       3316
3  Internet Explorer                       1881
4               Edge                        924

In [63]:
blackFriday_df = pd.DataFrame({"Total_Visitors_on_BlackFriday": df["fullVisitorId"],
                    "Browser_Name": df["browser"],
                    "Date": df["date"]})
blackFriday_df.head()

   Total_Visitors_on_BlackFriday Browser_Name      Date
0            9352881518669559847       Chrome  20161101
1            4906813510055416703       Chrome  20161101
2            4091646801425702074       Chrome  20161101
3            5401793363522001290   Opera Mini  20161101
4            4440833520759626888       Chrome  20161101

In [64]:
blackFriday_only = blackFriday_df.loc[df["date"]==20161125, :]
blackFriday_only.head()

       Total_Visitors_on_BlackFriday Browser_Name      Date
90065            1805733387466969468      Firefox  20161125
90066            2954000130175804466       Chrome  20161125
90067            4463691894324256729       Chrome  20161125
90068            7726145645850904081      Firefox  20161125
90069            4766733115446186249       Chrome  20161125

In [97]:
blackFriday_grouped = blackFriday_only.groupby("Browser_Name").count().drop(columns=["Date"]).sort_values("Total_Visitors_on_BlackFriday", ascending=False).reset_index()

blackFriday_grouped = blackFriday_grouped[:5]                        
blackFriday_grouped.head(20)

        Browser_Name  Total_Visitors_on_BlackFriday
0             Chrome                           2282
1             Safari                           1163
2            Firefox                            131
3  Internet Explorer                             74
4               Edge                             34

In [106]:
cleaned_df = whole_month_df.merge(blackFriday_grouped, how='left', on='Browser_Name')
cleaned_df.head()

        Browser_Name  Total_Visitors_wholemonth  Total_Visitors_on_BlackFriday
0             Chrome                      70033                           2282
1             Safari                      35845                           1163
2            Firefox                       3316                            131
3  Internet Explorer                       1881                             74
4               Edge                        924                             34

In [107]:
cleaned_df.to_csv(r'C:\Users\luand\UCSD_SD_DATA\Project-Files\New_data_csv\cleaned_data.csv', index=True, header = True)
print(cleaned_df)

        Browser_Name  Total_Visitors_wholemonth  Total_Visitors_on_BlackFriday
0             Chrome                      70033                           2282
1             Safari                      35845                           1163
2            Firefox                       3316                            131
3  Internet Explorer                       1881                             74
4               Edge                        924                             34